<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3 footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5 iconos">
        <div >
          <!-- Facebook -->
          <i class="fab fa-facebook fa-3x"></i>
          <!-- Twitter -->
          <i class="fab fa-twitter fa-3x"></i>
          <!--Linkedin -->
          <i class="fab fa-linkedin fa-3x"></i>
          <!--Instagram-->
          <i class="fab fa-instagram fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
  <p>Proyecto Final de Máster: Maria Magdalena Freixa Torres</p>
  <p><b>© 2021-2022 Copyright: CookingTogether</b></p>
</div>
</footer>