<h1 class="title">ULTIMAS RECETAS</h1>
<div class="recetas">
    <mat-card class="example-card" *ngFor="let item of recipes">
        <mat-card-header>
            <mat-card-title >{{item.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="item.image" alt="Foto de la receta {{item.name}}">
        <mat-card-content>
            <p>Comensales: {{item.diners}}</p>
            <p>dificultad: {{item.complexity}}</p>
            <p>Categoria: {{item.category}}</p>
        </mat-card-content>
        <mat-card-actions *ngIf='isSignedIn'>
            <i class="far fa-heart fa-2x" *ngIf='!item.userFavorite' (click)='setFavorite($event, "fav")' id='{{item.id}}'></i>
            <i class="fas fa-heart fa-2x" *ngIf='item.userFavorite' (click)='setFavorite($event, "nofav")' id='{{item.id}}'></i>
        </mat-card-actions>
        <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]='!isSignedIn' (rateChange)="onRateChange($event, item.id)"></ngb-rating>
    </mat-card>
</div>