<h1 class="title" *ngIf="recipe">{{title}} 
  <i class="far fa-heart" *ngIf='!recipe.userFavorite && isSignedIn' (click)='setFavorite($event, "fav")' id='{{recipe.id}}'></i>
  <i class="fas fa-heart" *ngIf='recipe.userFavorite && isSignedIn' (click)='setFavorite($event, "nofav")' id='{{recipe.id}}'></i>
</h1>
<div class="receta" *ngIf="recipe">
  <div>
    <ngb-rating [max]="5" [(rate)]="recipe.rating" [readonly]='!isSignedIn' (rateChange)="onRateChange($event)"></ngb-rating>
  </div>
  <div>
    <img [src]="recipe.image" alt="{{ recipe.name }}" >
  </div>
  <div>
    <p><b>Comensales:</b> {{recipe.diners}}
    <b>dificultad:</b> {{recipe.complexity}}
    <b>Categoria:</b> {{recipe.category}}</p>
  </div>
  <a routerLink="/categoria/{{ recipe.id_category }}">
    <span>--> Otras recetas de {{ recipe.category }} <--</span>
  </a>
  <div class="ingredients">
    <h1>Ingredientes</h1>
    <ul>
      <li *ngFor="let element of ingredients">{{element.ingredient}}</li>
    </ul>
  </div>
  <div class="steps">
    <h1>Procedimiento</h1>
    <ol>
      <li *ngFor="let element of steps">{{element.step}}</li>
    </ol>
  </div>
  <div>
    <h1>Video explicativo</h1>
    <iframe title="recipeVideo" width="560" height="315" [src]="recipe.safeVideo" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <h1>Comentarios</h1>
  <form class="custom-form" [formGroup]="commentForm" (ngSubmit)="onSubmit()">

    <!-- Comments -->
    <div class="container mt-5" *ngFor="let element of comments | slice: (page-1) * pageSize : page * pageSize; index as i">
      <div class="d-flex justify-content-center row">
        <div class="col-md-9">
          <div class="bg-white comment-section">
            <div class="d-flex flex-row user p-2">
              <span class="name font-weight-bold">{{element.user_name}}</span>
            </div>
            <div class="mt-2 p-2">
              <p class="comment-content">{{element.comment}}</p>
            </div>
            <div>
              <span>{{element.created_at}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Errors -->
    <div *ngIf="errors?.comment" class="alert alert-danger mt-3">
      {{ errors?.comment }}
    </div>
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="3" [boundaryLinks]="true"
      [pageSize]="pageSize" class="d-flex justify-content-center">
    </ngb-pagination>
    <div class="custom-form">
      <div class="form-group">
        <textarea class="form-control" formControlName="comment" placeholder="Comenta"></textarea>
      </div>
      <button type="submit" class="btn btn-block btn-primary">Comenta</button>
    </div>
  </form>
</div>