@font-face {
    font-family: tili;
    src: url(assets/fonts/TitilliumWeb-Regular.ttf) format("opentype");
}

* {
    font-family: 'tili', 'arial', sans-serif;
}

html,body,.auth-wrapper {
    height:100%;
}

.container {
    max-width:600px;
}

